/* Solution : colorier le 6ème élément */
#exo1 li:nth-child(6) { background-color: green; }

/* Solution : colorier les pairs */
#exo2 li:nth-child(odd) { background-color: green; }

/* Solution : colorier l'avant dernier element */
#exo3 li:nth-last-child(2) { background-color: green; }

/* Solution : colorier tous les 3 éléments */
#exo4 li:nth-child(3n + 1) { background-color: green; }