section {
	float: left;
	width: 100%;
	margin-bottom: 20px;
}
.dot {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	list-style: none;
	background-color: grey;
	float: left;
	margin-right: 10px;
	font-weight: bold;
	font-size: xx-large;
	text-align: center;
}

/* Exo1 : colorier le 6ème élément */


/* Exo2 : colorier les pairs */


/* Exo3 : colorier l'avant dernier element */


/* Exo4 : colorier tous les 3 éléments */

